*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  margin: 5em 5.5em;
}
.App {
  text-align: center;
}

.card{
  padding:  10px;
  box-shadow: rgba(40, 113, 191, 0.35) 0px 5px 15px;
  border-radius: 1em;
  width: 70vw;
  height: 300px;
  align-content: center;
  justify-content: center;
  /* display: flex;
  align-self: center; */
}
.input-field{
  border-radius: 10px;
  border: none;
  box-shadow: rgba(13, 9, 9, 0.316) 0px 1px 4px, rgb(30, 60, 160) 0px 0px 0px 3px;
  font-size: 25px;
  /* margin: 10px; */
  padding: 10px 20px;
}
.btn{
  cursor: pointer;
  margin: 15px;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}